/* Font */
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

/* Title styling */
h1 {
    font-size: xx-large;
    text-align: center;
}

/* Date styling */
h2 {
    font-size: x-large;
    text-align: center;
    min-width: none;
}

/* Title and date font change */
.heading {
    font-family: 'Akshar', sans-serif;
}

/* Box Models */
section {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    flex-grow: 3;
}

/* Form color change */
form {
    background-color: #d3d3d3;
    border-style: dashed;
    border-width: 5px;
    border-color: black;
    border-radius: 4%;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    place-items: center;
}

/* Removes text area visibility */
textarea {
    display: none;
    max-width: max-content;
}

/* Section header color change */
h3 {
    color: crimson;
    text-decoration: underline;
    width: auto;
    position: sticky;
    top: 10px;
}

/* List positioning */
ul,
li,
ol {
    position: relative;
    left: 10px;
    display: grid;
    row-gap: 10px;
    justify-content: space-between;
}

/* Link hover */
a:hover {
    color: green;
}

/* While input is clicked */
input:active {
    background-color: #00FFF0;
}

/* Highlights attendance */
ul[target="attendance"] {
    background-color: yellow;
}

/* Changes font of conclusion header */
#Conclusion {
    font-family: 'Akshar', sans-serif;
}

/* Bold items in p */
p b {
    color: blue;
}

/* Italicized items in p */
p>i {
    background-color: #9b2a94;
}

ol+h3 {
    row-gap: 25px;
}

h2~details {
    text-align: center;
}

img.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}