/* Title styling */
h1 {
    font-size: xx-large;
    text-align: center;
}

/* Date styling */
h2 {
    font-size: x-large;
    text-align: center;
}

/* Box Models */
section {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Form color change */
form {
    background-color: #d3d3d3;
    border-style: dashed;
    border-width: 5px;
    border-color: black;
    border-radius: 4%;
    padding: 5px 0px 5px 0px;
}

/* Section header color change */
h3 {
    color: blue;
    text-decoration: underline;
}